@font-face{
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
  src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
  src: url("./fonts/Montserrat-Black.otf") format("opentype"),
       url("./fonts/Montserrat-Bold.otf") format("opentype"),
       url("./fonts/Montserrat-ExtraBold.otf") format("opentype"),
       url("./fonts/Montserrat-Hairline.otf") format("opentype"),
       url("./fonts/Montserrat-Light.otf") format("opentype"),
       url("./fonts/Montserrat-Regular.otf") format("opentype"),
       url("./fonts/Montserrat-SemiBold.otf") format("opentype"),
       url("./fonts/Montserrat-UltraLight.otf") format("opentype"),
       



 }



* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}
/***************** logo*****************/
img.headerLogo {
  width: 210px;
}
div#seldom_block {
  display: flex;
  align-items: center;
  width: 40%;
}
.search_bar_input {
  position: relative;
  display: flex;
  align-items: center;
}
input#search {
  width: 24vw;
  padding: 10px 10px 10px 30px;
  border-radius: 50px;
  border: 0;
  background-color: whitesmoke;
}


img.search_icon {
  width: 20px;
  position: absolute;
  left: 2px;
}

.icons_voila_new {
  width: 12%;
  display: flex;
  justify-content: right;
  align-items:center;
}
img#social_icons_imgs {
  width: 24px;
  margin-left: 10px;
}
img#social_icons_imgs_bag {
  width: 30px;
  margin-left: 10px;
}



/***************** ///logo*****************/

section.mega_menus {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
}

.navbar {
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 45%;

}

.navbar a {
  float: left;
  font-size: 14px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;

}

.dropbtn {
  background-color: inherit;
  transition: 0.3s;
  color: white;
  
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}


.navbar a:hover, .dropdown:hover .dropbtn {
    color: black;
}

.dropdown-content {
  position: absolute;
  background-color: white;
 width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transition: all 1s ease-in;
  overflow:hidden;
  height:0;
  left: 0;
}

.dropdown-content .header {
  background-color: white;
  padding: 16px;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*********************************************/
.dropdown:hover .dropdown-content {
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: end;
  position: absolute;
  left: 10%;

}

.dropdown:hover .dropbtn {
  color:  white;
  transition: 0.3s;
}
#anker_inside {
  color: black;
  text-align: left;
  text-decoration: none;
  color: black;
  text-align: left;
  text-decoration: none;
  padding: 10px 40px;
  width: 300px;
}

.column a {
  float: none;
  color: black;
  padding: 0;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: 0.2s;
}

.column a:hover, #h3_anker_tag:hover {
  background-color: white;
  color: #dca736;
}
.column {
  float: left;
  padding: 10px;
  height: auto;
  width: 210px;
  display: grid;
  justify-content: center;
}
.column123 {
  float: left;
  padding: 10px;
  height: 250px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* text-align: justify; */
  justify-content: center;
  align-items: center;
}
h3#h3_anker_tag {
  margin: 0;
  width: 180px;
}
.row1 {
  margin: 0 auto;
  width: 68%;
  margin: 0 auto;
}


/********************* mobile Menu*********************/


.topnav {
  overflow: hidden;
  background-color: white;
    display: block;
    justify-content: center;
    width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.active {
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 14px;    
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: white;
  color: black;
}

.dropdown-content a:hover {
  background-color: white;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
  color: black;
}

.collapsible {
        background-color: white;
      color: white;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
    }

    .collapsible:hover {
      color:black ;
    }
    
 
    
    .content {
      padding: 0 18px;
      display: none;
      overflow: hidden;
    background-color: white;
   
    }
    span#plus_sign {
    float: right;
    font-size: 20px;
}
a#anker_inside {
  color: black;
  width: 100%;
  padding: 4px 8px;
  font-size: 14px;
}
a#anker_inside:hover {
  transition: left .2s ease-out,width .2s ease-out;
  font-weight: 600;


}

section.glideck_mobile_menu {
    display: none;
}

@media screen and (max-width: 900px) {
  .topnav a:not(first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: left;
    display: block;
  }
  a.active {
    margin-top: 60px;
}
  .topnav.responsive 
  {
    position: relative;
   background: #A35430;
  }
  .topnav.responsive .icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    font-size: 15px;
    color: white;
  }
  .topnav.responsive a:hover {
    color: black; 
  }


  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 15px;
  }
  section.glideck_mobile_menu {
    display: block;
}
section.mega_menus {
    display: none;
}
}

